@charset "UTF-8";

body {
    background-color: rgb(27, 177, 27);
    background-image: url(../IMG/sustentabilidade-economica-entenda-conceito.jpg);
}

header > h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

#conteudo {
   background-color: white;
   padding: 4px;
   border-radius: 6px;
   border-color: black;
   box-shadow: 2px 2px 2px 2px  black;
}

#conteudo > h1  {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;

}

.escrita {
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-start: 10px;
    font-size: 1.2em;
}

#video {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px 6px;
}

.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.topico {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-start: 10px;
}

.topico > h1 {
    text-align: center;
}

.topico > h2 {
    font-size: 1.2em;
}

img {
    text-align: center;
}
